@import url(reset.css);

body
{
	background:#0173cd;
        font:.9em/1.4 "Helvetica Neue",Arial,Helvetica,sans-serif;
}

#container_A {
 	background:#024C86 url('../images/header_background.png') repeat-x;   
}

#container_B {
    width:800px;
    margin:0 auto;
}

h1 a:link, h1 a:visited, #home
{
    display:block;
	background:url('../images/logo.png') 20px 0 no-repeat;
	height:68px;
}

h1 span {
    display:none;
}

#account_bar {
font-size:.8em;
color:#FFF;
margin-top:-10px;
padding:0 0 10px 20px;
}

#account_bar input {
border:1px solid #FFF;
background:#024C86;
color:#FFF;
font-size:.9em;
}

#sidebar {
padding-top:20px
}

.link_section_header span {
    display:block;
    font-weight:bold;
    border-bottom:1px solid #FFF;
    margin-bottom:10px;
}

.link_section_header ul {
    list-style:square;
    padding-left:20px;
    margin-bottom:7px;
}

#sidebar a:link, #sidebar a:visited {
    color:#FFF;
}

#sidebar {
    float:right;
    width:160px;
    padding-left:20px;
}

#sidebar a:link, #sidebar a:visited {
    display:block;
}

#sidebar a:hover {
    text-decoration:none;
}

#sidebar li {
    margin-bottom:3px;
}

#content_container {
    background:#FFF url('../images/top_rounded_corners.png') no-repeat;
    width:620px;
    text-align:left;
}

#content a:hover {
text-decoration:none;
}

#content {
    padding:20px;
    background:url('../images/bottom_rounded_corners.png') bottom no-repeat;
}

#sidebar {
    font-size:.9em;
    color:#FFF;
    text-align:left;
}

#contact_info {
    float:right;
    display:block;
    width:160px;
    height:66px;
    background:url('../images/contact_info.png');
}

#footer_container {
    background:url('../images/bottom_background.png') repeat-x;
    height:66px;
}

#inside_footer_container {
width:800px;
margin:0 auto;
}

#footer {
padding:20px 200px 20px 20px;
color:#FFF;
font-size:.8em;
}

#footer a:link, #account_bar a:link, #account_bar a:visited, #footer a:visited {
color:#FFF;
}

#footer a:hover, #account_bar a:hover {
text-decoration:none
}

abbr {
border-bottom: 1px dotted #000;
}
