<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" media="screen" href="/media/css/screen.css" type="text/css" /> 
<meta name="google-site-verification" content="UDCZc3_ONITpAtZoVwKwAsO-MGWz75L6-91-ZjjABmw" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22485594-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
    <div id="container_A">
<div id="container_B">
    
    <h1 id="home"><span>The EMS Excellence Foundation</span><div id="contact_info">
    </div></h1>
    <div id="account_bar">
{% if is_user_logged_in %}
<strong>{{ user.first_name }} {{ user.last_name }}</strong> | <a href="">My Profile</a> | <a href="/logout/">Logout</a>
{% else %}
<form action="/login/" method="post">
{% csrf_token %}
{% if login_failed_username %}<strong>Sorry login failed</strong> {% endif %}Username: <input type="" name="username"{% if login_failed_username %} value="{{ login_failed_username }}"{% endif %}></input> Password: <input type="password" name="password"></input><input type="submit" value="Login" />
</form> 
{% endif %}
</div>
    <div id="sidebar">
        <div class="link_section_header"><span>Learn About Us</span>
        <ul>
            <li><a href="">Acknowledgements</a></li>
            <li><a href="">Who We Are</a></li>
            
            <li><a href="">Our History</a></li>
            <li><a href="">Our Mission &amp; Strategy</a></li>
            <li><a href="">Our Motivation</a></li>
            <li><a href="">Our Strategy</a></li>
            <li><a href="">Our Core Values</a></li>
            <li><a href="">Our Philosophy</a></li>
            <li><a href="">Our Policies and Procedures</a></li>
            <li><a href="">Criticism We've Received</a></li>
            <li><a href="">Our Commitment to Being Publicly Transparent</a></li>
            </ul>
        </div>
                <div class="link_section_header"><span>Visit Our Projects</span>
        <ul>
            <li><a href="">The Definition of Excellence in EMS</a></li>
            <li><a href="">EMS Census</a></li>
            <li><a href="">EMS Improvement</a></li>
            </ul>
        
        
        </div>
        <div class="link_section_header"><span>Connect With Us</span>
        <ul>
            <li><a href="">On our blog</a></li>
            <li><a href="">On Facebook</a></li>
            <li><a href="">On Twitter</a></li>
            <li><a href="">On YouTube</a></li>
            </ul>
        
        
        </div>
        <div class="link_section_header"><span>Get Involved</span>
        <ul>
        <li><a href="">Help Create Our Strategy</a></li>
            </ul>
        
        
        </div>
        <div class="link_section_header"><span>Copy Us</span>
        <ul>
        <li><a href="">Create Your Own Excellence Foundation</a></li>
               
                <li><a href="">Use Our Open Source Software</a></li> 
                <li><a href="">Steal Our Ideas</a></li>
        </ul>
        </div>
        </div>
<div id="content_container"><div id="content" style="height:2000px;">
   {% block content %}
   
   {% endblock %}
    </div></div>
    </div>

</div>
<div id="footer_container">
<div id="inside_footer_container">
<div id="footer">Text is released under the <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License</a>. Website source code is <a href="https://github.com/emsexcellencefoundation/EMS-Excellence-Foundation-Website">publicly available on GitHub</a>. The website is hosted by <a href="http://ep.io">ep.io: smart python hosting</a>.
</div>
</div>
</div>
</div>
<!-- Piwik --> 
<script type="text/javascript"> 
/* <![CDATA[ */
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.emsexcellence.org/" : "http://stats.emsexcellence.org/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
/* ]]> */
</script> 
<script type="text/javascript"> 
/* <![CDATA[ */
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.setDocumentTitle("");
piwikTracker.setIgnoreClasses("image");
 
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
/* ]]> */
</script><noscript><p><img src="http://stats.emsexcellence.org/piwik.php?idsite=1" style="border:0" alt=""/></p></noscript> 
<!-- /Piwik -->
<!--
<div id="onload_images"><img src="/media/images/h1_hover.png" /></div>
-->
</body>
</html>
