{% extends "base.html" %}
{% block title %}The EMS Excellence Foundation{% endblock %}
{% block content %}
<p>The <strong>Emergency Medical Services Excellence Foundation</strong> aims to {{ mission_statement }}.</p>
<h3>In One Community Your Chance of Survival is 5% and 58% in Another</h3>
<img src="/media/images/bystander_witnessed_shockable_cardiac_arrest_survival_rates.png" class="chart" />
<p>In San Francisco, California when someone's heart stops beating it takes about two minutes to dispatch emergency services. In Seattle, Washington it takes about about forty seconds. San Francisco's survival rate is 5% and Seattle's rate is 45%. Every minute counts.</p>
<p>Altanta, Georgia used to save no one. After changing its dispatch procedures Altanta saved 33% of patients.</p>
{% endblock %}
