{% extends "base.html" %}
{% block title %}The EMS Excellence Foundation{% endblock %}
{% block content %}
<p>The <strong>Emergency Medical Services Excellence Foundation</strong> is defining excellence, collecting data, and empowering people to improve out-of-hospital emergency care.</p>
<h3>In One Community Your Chance of Survival is 5% and 58% in Another</h3>
<div style="width:594px; margin:0 auto; text-align:center;font-size:.9em;"><img src="/media/images/bystander_witnessed_shockable_cardiac_arrest_survival_rates.png" class="chart" /><p style="text-align:left;font-family:serif;">Bystander-witnessed shockable cardiac arrest with presumed cardiac etiology <br/>See <a href="">list of sources and discussion of accuracy</a></p></div>
<p>In San Francisco, California when someone's heart stops beating it takes about two minutes to dispatch emergency services. In Seattle, Washington it takes about about forty seconds. San Francisco's survival rate is 10% and Seattle's rate is 45%. Every minute counts.</p>
<p>Altanta, Georgia used to save no one. After changing its dispatch procedures Altanta saved 33% of patients.</p>
{% endblock %}
